<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>제품등록</h2>
	<a th:text="${session.id}"></a>
	<hr>
	<form th:action="@{/addG}" method="post">
		<input type="text" name="id" th:value="${member.id}" readonly><br>
		<input type="text" name="gname" placeholder="제품이름"><br>
		<input type="text" name="amount" placeholder="재품 재고량"><br>
		<input type="text" name="price" placeholder="가격"><br>
		<textarea name="gdinfo"></textarea><br>
		
		<input type="submit" value="등록하기">
	</form>
</body>
</html>