<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>등록된 제품목록</h2>
	<hr>
	<div th:each="goods : ${goods}" class="product">
		
		제품아이디: <span th:text="${goods.gid}"></span><br>
		<a th:href="@{/detailMygs(gid=${goods.gid})}"><span th:text="${goods.gname}"></span></a><br>
		<span th:text="${goods.price} + 원"></span><br>
		<span th:text="${goods.member.id}"></span><br>
		판매상태: <span class="state" th:text="${goods.state}"></span>
		<hr>
		
		<script>
			document .addEventListener('DOMContentLoaded',(event) => {
				updateStateText();
			});	
		
			 function updateStateText() {
	                const products = document.querySelectorAll('.product');
	                products.forEach(product => {
	                    const stateElement = product.querySelector('.state');
	                    const stateValue = stateElement.textContent.trim();
	                    if (stateValue === '0') {
	                        stateElement.textContent = '판매중';
	                    } else if (stateValue === '1') {
	                        stateElement.textContent = '품절';
	                    }
	                });
	            }
		</script>
		
	</div>
</body>
</html>