<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>내 픽업목록</h1>
<a th:href="@{/}">홈으로</a>
<hr>
	<form action="/getinBasket" method="post">
		<div th:each="pickList : ${pick}">
		<input type="checkbox" name="picknum" th:value="${pickList.picknum}">
		<input type="hidden" name="gid" th:value="${pickList.goods.gid}">
		<span th:text="${pickList.goods.gname}"></span><br>
		<span th:text="${pickList.goods.price}"></span><br>
		<hr>
		</div>
		<input type="submit" value="장바구니 담기">
	</form>
</body>
</html>